:root {
    --sky-color: #90fcfc;

    --first-point: 700px;
    --second-point: 10px;
    --third-point: 120px;
    --fourth-point: 90px;

    --first-point-a: 90px;
    --second-point-a: 310px;
    --third-point-a: 295px;

    --first-point-p: 200px;
    --second-point-p: 15px;
    --third-point-p: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url("/images/menu/sky.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: var(--sky-color);
    overflow: hidden;
}

.game-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 85% 15%;
}

.board-container {
    grid-column-start: 2;
    position: relative;
    bottom: var(--fourth-point);
    z-index: 2;
    animation: board-animation 700ms;
}

.board,
.board-only {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}

.board-only {
    display: none;

}

.board-play,
.board-only-play {
    position: relative;
    bottom: var(--first-point-p);
    display: block;
    margin: 0 auto;
    z-index: 1;
}

.board-only-play {
    display: none;
}

.clouds {
    position: absolute;
    z-index: 1;
    width: 100%;
    animation: clouds-animation 60s infinite alternate linear;
}

.bottom-container {
    background: url("/images/menu/floor.png");
    background-color: #74382e;
    background-repeat: repeat-x;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 100%;
}

.fox {
    position: fixed;
    width: 150px;
    z-index: 1;
    animation-delay: 2s;
    animation: fox-animation 5s infinite linear;
}

.fox img {
    z-index: 0;
    width: 150px;
    position: absolute;
    bottom: -12px;
}

@media (min-width: 1290px) {

    .board,
    .board-only {
        width: 700px;
    }
}

@media (max-width: 1024px) {

    :root {
        --first-point: 250px;
        --second-point: -380px;
        --third-point: -200px;
        --fourth-point: -285px;

        --first-point-a: -285px;
        --second-point-a: -330px;
        --third-point-a: -50px;

        --first-point-p: 140px;
        --second-point-p: 5px;
        --third-point-p: 25px;
    }

    .board {
        display: none;
    }

    .board-only {
        display: block;
        width: 100%;
        transform: scale(1.4);
    }

    .board-play {
        display: none;
    }

    .board-only-play {
        display: block;
    }
}

@media (max-width: 450px) {
    :root {
        --first-point: 250px;
        --second-point: -220px;
        --third-point: -120px;
        --fourth-point: -140px;

        --first-point-a: -140px;
        --second-point-a: -190px;
        --third-point-a: -50px;

        --first-point-p: 140px;
        --second-point-p: 20px;
        --third-point-p: 40px;
    }
}

@media (max-width: 280px) {
    .board-only {
        width: 75%;
    }
}

@keyframes play-unselect-animation {
    0% {
        bottom: var(--third-point-p);
    }

    40% {
        bottom: var(--second-point-p);
    }

    100% {
        bottom: var(--first-point-p);
    }
}

@keyframes play-board-animation {
    0% {
        bottom: var(--first-point-p);
    }

    70% {
        bottom: var(--second-point-p);
    }

    100% {
        bottom: var(--third-point-p);
    }
}

@keyframes board-select-animation {
    0% {
        bottom: var(--first-point-a);
    }

    70% {
        bottom: var(--second-point-a);
    }

    100% {
        bottom: var(--third-point-a);
    }
}

@keyframes board-unselect-animation {
    0% {
        bottom: var(--third-point-a)
    }

    70% {
        bottom: var(--second-point-a)
    }

    100% {
        bottom: var(--first-point-a)
    }
}

@keyframes board-animation {
    0% {
        bottom: var(--first-point);
    }

    70% {
        bottom: var(--second-point);
    }

    90% {
        bottom: var(--third-point);
    }

    100% {
        bottom: var(--fourth-point);
    }
}

@keyframes clouds-animation {
    from {
        left: 300px;
    }

    to {
        left: -1920px;
    }
}

@keyframes fox-animation {
    from {
        left: -150px;
    }

    to {
        left: 2070px;
    }
}