* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.game-board {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

@font-face {
    font-family: "Upheaval";
    src: url("/fonts/upheavtt.ttf");
}

.floor {
    margin-left: 0px;
    display: inline;
}

.clouds {
    position: absolute;
    width: 550px;
    right: -550px;
}

.cloud-scrolling {
    animation: clouds-animation 10s infinite linear;
}

.scrolling {
    animation: floor-animation 2.3s infinite linear;
}

.pipe {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 80px;
}

.running {
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    position: absolute;
    bottom: 0;
    height: 142px;
}

.jump {
    animation: mario-jump 500ms ease-out;
}

input[type=button],
h1 {
    position: absolute;
    font-family: 'Upheaval';
    font-size: 4rem;
    background: none;
    border: none;
    z-index: 2;
}

h1 {
    color: rgb(255, 255, 255);
    display: none;
    top: 32%;
    left: 38%;
    background: gray;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

h3 {
    font-family: 'Upheaval';
    font-size: 3rem;
    padding: 2rem;
    position: absolute;
}

input[type=button]:hover {
    color: white;
    transform: scale(1.1);
}

.restart-button {
    display: none;
    position: absolute;
    top: 45%;
    left: 41.5%;
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

@keyframes floor-animation {
    from {
        margin-left: 0px
    }
    to {
        margin-left: -1573;
    }
}

@keyframes mario-jump {
    0% {
        bottom: 0px;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    600% {
        bottom: 180px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}